{# Load the tag library #}
{% load bootstrap4 %}
{% load static %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Generate short and cheeky url">
    <meta name="author" content="DK">
    <title>Wee url!</title>

    <!-- Custom styles for this template -->
    <link href="{% static 'wee_url_app/style.css'%}" rel="stylesheet" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>

<body class="text-center d-flex flex-column min-vh-100">
    <form class="form-generate-url" method="POST">
        <h1 class="h3 mb-3 font-weight-normal main-text">Wee URL</h1>
        {% csrf_token %}
        {{form.as_p}}
        <button id="btn-generate-url" class="btn btn-lg btn-primary btn-block" type="submit">Generate short URL</button>
        <div id="new-url" class="new-url-not-visible">
            <h3 class="redirecting-link">New url: </br><a target="_blank" id="gen-id"></a></h3>
        </div>
    </form>

    <footer class="mt-auto">
        <p class="mt-5 mb-3 ">&copy; 2022</p>
    </footer>

    <script src="{% static 'wee_url_app/main.js'%}"></script>
</body>

</html>